In [17]:
import pandas as pd
import numpy as np

In [18]:
df = pd.read_csv('WineQT.csv')

In [19]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Id
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,1
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,2
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,3
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,4

In [20]:
df["citric acid"].replace(0.00,np.nan, inplace=True)

C:\Users\Ethan Shafer\AppData\Local\Temp\ipykernel_12608\2983220257.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["citric acid"].replace(0.00,np.nan, inplace=True)

In [27]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Id
0,7.4,0.70,NaN,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0
1,7.8,0.88,NaN,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,1
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,2
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,3
4,7.4,0.70,NaN,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,4

In [30]:
# TODO 1.	Fill all null values in citric acid column with mean value of the column
df['citric acid'] = df['citric acid'].fillna(df['citric acid'].mean())
# df.loc[df['citric acid'].isna(), 'citric acid'] = df['citric acid'].mean()

In [31]:
sum(df['citric acid'].isna())

0

In [36]:
# TODO 2.	Using iloc - Print “alcohol” values for the first 10 rows
df.iloc[:10, list(df.columns).index('alcohol')]

0     9.4
1     9.8
2     9.8
3     9.8
4     9.4
5     9.4
6     9.4
7    10.0
8     9.5
9     9.2
Name: alcohol, dtype: float64

In [37]:
# TODO 3.	Using loc - Select rows where alcohol > 10 AND show only alcohol and quality columns
df.loc[df.alcohol > 10, ['alcohol', 'quality']]

      alcohol  quality
12       10.5        7
22       10.1        5
26       10.8        6
28       10.5        5
30       10.5        6
...       ...      ...
1137     11.6        6
1138     11.0        6
1140     10.5        5
1141     11.2        6
1142     10.2        5

[609 rows x 2 columns]

In [41]:
# TODO 4.	Create a new dataframe such that you want to know the average alcohol content , minimum fixed acidity and maximum fixed acidity by the quality rating of wine (use group by)
agg = df.groupby('quality').aggregate({'alcohol': 'mean', 'fixed acidity': ['min', 'max']})
agg

           alcohol fixed acidity
              mean           min   max
quality
3         9.691667           6.7  11.6
4        10.260606           4.6  12.5
5         9.902277           5.0  15.9
6        10.655339           5.0  14.3
7        11.482634           4.9  15.6
8        11.937500           5.0  12.6

In [ ]:
agg.columns

In [43]:
# TODO 5. Sort the values by alcohol mean
agg.sort_values(('alcohol', 'mean'))

           alcohol fixed acidity
              mean           min   max
quality
3         9.691667           6.7  11.6
5         9.902277           5.0  15.9
4        10.260606           4.6  12.5
6        10.655339           5.0  14.3
7        11.482634           4.9  15.6
8        11.937500           5.0  12.6

In [46]:
#TODO 6. Do the same using pivot table
df.pivot_table(index='quality', aggfunc={'alcohol': 'mean', 'fixed acidity': ['min', 'max']})

           alcohol fixed acidity
              mean           max  min
quality
3         9.691667          11.6  6.7
4        10.260606          12.5  4.6
5         9.902277          15.9  5.0
6        10.655339          14.3  5.0
7        11.482634          15.6  4.9
8        11.937500          12.6  5.0

In [10]:
movies = pd.DataFrame({
    'movie_id': [1, 2, 3, 4],
    'title': ['Inception', 'The Matrix', 'Avengers', 'Interstellar'],
    'genre': ['Sci-Fi', 'Sci-Fi', 'Action', 'Sci-Fi']
})

In [ ]:
ratings = pd.DataFrame({
    'movie_id': [1, 2, 3, 5],
    'rating': [8.8, 8.7, 8.4, 7.5],
    'votes': [2000000, 1500000, 2200000, 500000]
})

In [ ]:
# TODO 7.	Merge movies dataframe to ratings dataframe on movie_id