In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('WineQT.csv')

In [3]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Id
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,1
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,2
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,3
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,4

In [4]:
df["citric acid"].replace(0.00,np.nan, inplace=True)

In [5]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Id
0,7.4,0.70,NaN,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0
1,7.8,0.88,NaN,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,1
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,2
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,3
4,7.4,0.70,NaN,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,4

In [ ]:
# TODO 1.	Fill all null values in citric acid column with mean value of the column

In [ ]:
# TODO 2.	Using iloc - Print “alcohol” values for the first 10 rows

In [ ]:
# TODO 3.	Using loc - Select rows where alcohol > 10 AND show only alcohol and quality columns

In [ ]:
# TODO 4.	Create a new dataframe such that you want to know the average alcohol content , minimum fixed acidity and maximum fixed acidity by the quality rating of wine (use group by)

In [ ]:
# TODO 5. Sort the values by alcohol mean

In [ ]:
#TODO 6. Do the same using pivot table

In [10]:
movies = pd.DataFrame({
    'movie_id': [1, 2, 3, 4],
    'title': ['Inception', 'The Matrix', 'Avengers', 'Interstellar'],
    'genre': ['Sci-Fi', 'Sci-Fi', 'Action', 'Sci-Fi']
})

In [ ]:
ratings = pd.DataFrame({
    'movie_id': [1, 2, 3, 5],
    'rating': [8.8, 8.7, 8.4, 7.5],
    'votes': [2000000, 1500000, 2200000, 500000]
})

In [ ]:
# TODO 7.	Merge movies dataframe to ratings dataframe on movie_id